<!DOCTYPE html>
<html lang="en">
<%- include('partials/header') %>


<style>
  .hover {
    color: slategrey;
  }

  .hover:hover {
    border: 1px solid rgba(4, 104, 255, 0.671);

    transition: border 0.2s ease-in-out;
    color: blue;
  }

  a {
    text-decoration: none;
    color: rgb(61, 61, 61);
  }
  .hover-png{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
  }
  .hover-png:hover{
    background-color:bisque;
    transition: all 0.2s ease-in-out;
  }
</style>

<body>



  <div class="container">
    <%- include('partials/navbar') %>


    <!-- main content -->
    <div class="input-group my-3 justify-content-center">
      <input type="text" class="form-control form-control-lg " style="max-width: 500px;  border-radius: 0.5rem;  " placeholder="Search..." aria-label="Search">
      <!-- <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Search</button>
        </div> -->
    </div>



    <div class="row">

      <div class="col-2">
        <h3>STYLE</h3>
        <!-- side panel -->
        <div class="list-group ">
          <a href="#" class=" m-1 rounded-3 hover p-2 "><i class="fas fa-star me-2"></i> Star</a>
          <a href="#" class=" m-1 rounded-3 hover p-2 "><i class="fas fa-smile me-2"></i> Emoji</a>
          <a href="#" class=" m-1 rounded-3 hover p-2 "><i class="fas fa-bolt me-2"></i> Electronic</a>




        </div>
      </div>
      <div class="col-10 rounded-3" style="background-color: #F0F1F3;">

        <div class="row py-3 ">
          <% images.forEach(element => { %>
            <div class="col-2" >
              <div class="hover-png p-2 rounded-4 text-center d-flex flex-column " style="height: 195px; align-items: center; justify-content: center;" onclick="window.location.href='/<%= element.category %>/<%= element.name %>/<%= element.id %>'">

                <img src="<%= element.path %>" class="img-fluid m-auto" style="width: 100%; height: auto;" alt="...">

                <div class="d-flex m-1 mt-auto">
                  <h6 class="m-auto"><%= element.name %></h6>
                </div>

              </div>


   


          </div>

          <% }) %>
         

        </div>


      </div>


</body>

</html>